<campus-header type="transparent"></campus-header>
<campus-jumbotron></campus-jumbotron>

<section class="content-container">
  <div class="content-area">

    <div class="clr-row">
      <div class="col-xs-12">
        <h2>Desenvolvimento</h2>
      </div>
      <div *ngFor="let curso of cursos" class="col-md-2 col-sm-12 col-xs-12">
        <div class="card campus-card" [routerLink]="['/curso-detalhe']">
          <div class="card-img">
            <img src="{{ curso.imagem }}">
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ curso.nome }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{ curso.instrutor }} </li>
            <li class="list-group-item">
              <campus-stars></campus-stars>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clr-row">
      <div class="col-xs-12">
        <h2>User Experience (UX)</h2>
      </div>
      <div *ngFor="let curso of cursos" class="col-md-2 col-sm-12 col-xs-12">
        <div class="card campus-card" [routerLink]="['/curso-detalhe']">
          <div class="card-img">
            <img src="{{ curso.imagem }}">
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ curso.nome }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{ curso.instrutor }} </li>
            <li class="list-group-item">
              <campus-stars></campus-stars>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>





