<header class="campus-header--{{ type }}">
  <div class="branding">
    <a href="#" class="nav-link" [routerLink]="['/']">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Campus</span>
    </a>
  </div>

  <div class="header-nav">
    <!-- <a href="..." class="active nav-link"><span class="nav-text">Explorar</span></a>
    <a href="..." class="nav-link"><span class="nav-text">Colaborar</span></a> -->
  </div>

  <div class="header-actions">
    <button class="btn campus-btn--white" [routerLink]="['/usuario']">minha conta</button>
    <a href="#" class="nav-link nav-icon">
      <clr-icon shape="user"></clr-icon>
    </a>
  </div>
</header>