/**
* Button White
*/
.campus-btn--white {
  border-radius: 20px;
  padding: 0px 30px;
  border-color: $color-white;
  background-color: $color-white;
  color: $color-black;
  margin-top: 10px;
}

.campus-btn--white:hover {
  background-color: $color-black;
  border-color: $color-black;
  color: $color-white;
}

.campus-btn--white:active {
  background-color: $color-black;
  border-color: $color-black;
  color: $color-white;
}