@import './assets/styles/colors.scss';
@import './assets/styles/buttons.scss';
@import './assets/styles/typography.scss';

* {
  margin: 0;
  padding: 0;
}

.campus-body {
  background: $color-snow;
}

.main-container { background: none; }