<campus-header type="cyan"></campus-header>
<campus-page-title label="Desenvolvimento com Angular 6"></campus-page-title>

<!-- Upload Modal -->
<campus-player [open]="playerModalOpen"></campus-player>

<section class="content-container">
  <div class="content-area">

    <div class="row">
      <div class="col-xs-9">

        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="link1">Detalhes do Curso</button>
            <clr-tab-content id="content1" *clrIfActive="true">

              <p><strong>Labels:</strong> &nbsp;
                <span class="label label-info clickable" [routerLink]="['/cursos']">App Mobile</span>
                <span class="label label-info clickable" [routerLink]="['/cursos']">Design System</span>
              </p>
        
              <p>Normal The Normal type is the most basic type of Pokémon. They are very common and Normal
                The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
                The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
                The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
                The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
                The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
                The Normal type is the most basic type of Pokémon. They are very common and...</p>     

              <h3>Requisitos</h3><br>
              <ul class="list">
                <li>No programming experience is required to take this course. I’ll walk you through the entire process from scratch!</li>
                <li>All you need is a computer (Windows, macOS, or Linux)</li>
                <li>An internet connection (Windows, macOS, or Linux)</li>
              </ul>
        
              <h3>Público Alvo</h3><br>
              <ul class="list">
                <li>No programming experience is required to take this course. I’ll walk you through the entire process from scratch!</li>
                <li>All you need is a computer (Windows, macOS, or Linux)</li>
                <li>An internet connection (Windows, macOS, or Linux)</li>
              </ul>

            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Grade Curricular</button>
            <clr-tab-content *clrIfActive>
              
              <!-- Plano de Aulas -->
              <clr-stack-view>
                <clr-stack-header>Plano de Estudos deste curso</clr-stack-header>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Aprendendo a desenvolver com Angular 5</clr-stack-label>
                  <clr-stack-content>Tempo de Aula: 00:20h</clr-stack-content>
                </clr-stack-block>              
              </clr-stack-view>

            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>

      <aside class="col-xs-3 ">
        <section class="card">
          <div class="card-header">
            Detalhes do Curso
          </div>
          <div class="card-img">
            <img src="https://udemy-images.udemy.com/course/240x135/1026604_790b_2.jpg">
          </div>
          <div class="card-block">
            <div class="card-media-block">
              <img src="https://avatars2.githubusercontent.com/u/11219999?s=400&u=c75e0601c2c9a64439903662b8f370faa67c6d80&v=4" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">Instrutor</span>
                <span class="card-media-text">
                  RT Digital Foundation
                </span>
              </div>
            </div>
            <button class="btn btn-primary btn-block" (click)="onStartLessonClick()">
              <clr-icon shape="play" class="is-solid"></clr-icon> 
                &nbsp;Iniciar o Curso
            </button>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aulas: 20 aulas</li>
            <li class="list-group-item">Idioma: Português</li>
            <li class="list-group-item">Duração: 20 horas</li>
            <li class="list-group-item">Skill: Avançado</li>
            <li class="list-group-item">Nota: 4.3 (20 avaliações)</li>
            <li class="list-group-item">Estudantes: 20 alunos</li>
          </ul>
        </section>
      </aside>
    </div>

  </div>
</section>