<campus-header type="cyan"></campus-header>
<campus-page-title label="Aula 1: Desenvolvimento com NodeJS e express"></campus-page-title>

<section class="content-container">
  <div class="content-area">
    <div class="row">

      <div class="col-xs-8">
        <video class="video-control" controls>
          <source src="mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>  
        <p>Normal The Normal type is the most basic type of Pokémon. They are very common and Normal
          The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
          The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
          The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
          The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
          The Normal type is the most basic type of Pokémon. They are very common and The Normal type is the most basic 
          The Normal type is the most basic type of Pokémon. They are very common and...</p>   
      </div>

      <aside class="col-xs-4">
        <section class="card">
          <div class="card-header">
            Curso Completo de Angular (40%)
          </div>
          <div class="card-block">
            <div class="progress top">
              <progress value="40" max="100"></progress>
            </div>
            <div class="card-media-block">
              <img src="https://avatars2.githubusercontent.com/u/11219999?s=400&u=c75e0601c2c9a64439903662b8f370faa67c6d80&v=4" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">Instrutor</span>
                <span class="card-media-text">
                  RT Digital Foundation
                </span>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aula 1</li>
            <li class="list-group-item">Aula 2</li>
            <li class="list-group-item">Aula 3</li>
            <li class="list-group-item">Aula 4</li>
            <li class="list-group-item">Aula 5</li>
            <li class="list-group-item">Aula 6</li>
          </ul>
        </section>
      </aside>

    </div>
  </div>
</section>